<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ab expedita ducimus velit doloribus distinctio nihil numquam dolores. Eum illum repudiandae sapiente provident? Dolores earum voluptas eligendi expedita praesentium assumenda.
	</p>
	<ul>
		<% users.forEach(oneUser => { %>
			<li> <%= `${oneUser.name} ${oneUser.age}` %> </li>
		<% }) %>
	</ul>
	<img src="/images/walter-white.jpg" alt="">
</body>
</html>